@charset "UTF-8";
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:after, :before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6875;
  color: #262626;
}

h1,
h2 {
  margin: 0;
}

/*a {
	text-decoration: none;
	color: $font-color-primary;
}*/
a,
button, input[type=button], input[type=submit] {
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,opacity .15s ease-in-out,-webkit-box-shadow .15s ease-in-out, visibility .15s ease-in-out;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,opacity .15s ease-in-out, visibility .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,opacity .15s ease-in-out, visibility .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,opacity .15s ease-in-out, visibility .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,opacity .15s ease-in-out, visibility .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #262626;
}

.btn {
  display: inline-block;
  min-width: 170px;
  padding: 0.9em 1.35em;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  background-color: #fff;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}
.btn--primary {
  text-transform: uppercase;
  background-color: #ff6033;
  color: #ffffff;
}
@media (min-width: 320px) {
  .btn--primary {
    min-width: 120px;
    font-size: 12px;
  }
}
@media (min-width: 540px) {
  .btn--primary {
    min-width: 140px;
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .btn--primary {
    min-width: 150px;
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .btn--primary {
    min-width: 170px;
    font-size: 20px;
  }
}
.btn--primary:focus {
  outline: #f50000 solid 3px;
}
.btn--primary:hover {
  color: #ff6033;
  background-color: #ffffff;
  outline: #ff6033 solid 3px;
}
.btn--primary:active {
  background-color: #f13500;
  color: #ffffff;
}
.btn--secondary {
  text-transform: uppercase;
  background-color: #5585a2;
  color: #ffffff;
}
.btn--secondary:focus {
  outline: #7bcdff solid 3px;
}
.btn--secondary:hover {
  color: #5585a2;
  background-color: #ffffff;
  outline: #5585a2 solid 2px;
}
.btn--secondary:active {
  background-color: #306788;
  color: #ffffff;
}
@media (min-width: 320px) {
  .btn--secondary {
    min-width: 120px;
    font-size: 12px;
  }
}
@media (min-width: 540px) {
  .btn--secondary {
    min-width: 140px;
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .btn--secondary {
    min-width: 150px;
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .btn--secondary {
    min-width: 170px;
    font-size: 20px;
  }
}
.btn--third {
  text-transform: uppercase;
  background-color: #96b92c;
  color: #ffffff;
}
.btn--third:focus {
  outline: #ccf15b solid 3px;
}
.btn--third:hover {
  background-color: #ffffff;
  color: #96b92c;
  outline: #96b92c solid 3px;
}
.btn--third:active {
  background-color: #7d9c1f;
  color: #ffffff;
}
.btn--fourth {
  text-transform: uppercase;
  background-color: #f72b3f;
  color: #ffffff;
}
.btn--fourth:focus {
  outline: #ff8c8c solid 3px;
}
.btn--fourth:hover {
  background-color: #ffffff;
  color: #f72b3f;
  outline: #f72b3f solid 3px;
}
.btn--fourth:active {
  background-color: #d4081c;
  color: #ffffff;
}

.btn-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  min-height: 100px;
  width: 350px;
  font-weight: 700;
  line-height: 1.35;
  white-space: normal;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}
@media (min-width: 540px) {
  .btn-services:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .btn-services:not(:last-child) {
    margin-bottom: 20px;
  }
}
.btn-services:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 100%;
  border-left: 1px solid #9d9d9d;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
}
@media (min-width: 540px) {
  .btn-services:after {
    width: 55px;
  }
}
@media (min-width: 768px) {
  .btn-services:after {
    width: 101px;
  }
}
@media (min-width: 540px) {
  .btn-services {
    width: 100%;
    min-height: 58px;
    font-size: 14px;
    padding: 10px 76px 10px 20px;
  }
}
@media (min-width: 768px) {
  .btn-services {
    min-height: 80px;
    font-size: 16px;
    padding: 25px 126px 25px 25px;
  }
}
@media (min-width: 768px) {
  .btn-services {
    width: 330px;
    min-height: 80px;
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .btn-services {
    width: 350px;
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .btn-services {
    width: 400px;
  }
}
.btn-services--shopping:after {
  background-image: url(../image/icon-shopping.svg);
}
.btn-services--product:after {
  background-image: url(../image/icon-product.svg);
}
.btn-services--delivery:after {
  background-image: url(../image/icon-delivery.svg);
}
.btn-services--organized:after {
  background-image: url(../image/icon-organize.svg);
}
.btn-services:focus {
  outline: #545dd6 solid 3px;
}
.btn-services:hover {
  background-color: #c7dffb;
  outline: #5c8ab3 solid 3px;
}
.btn-services:active {
  background-color: #689fde;
}

.scroll {
  display: block;
  height: 40px;
  width: 24px;
  position: absolute;
  bottom: 69px;
  left: 50%;
  margin-left: -12px;
}
.scroll:hover {
  opacity: 0.7;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 320px) {
  .container {
    width: 310px;
  }
}
@media (min-width: 540px) {
  .container {
    width: 520px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row + .row {
  margin-top: 10px;
}
@media (min-width: 540px) {
  .row + .row {
    margin-top: 15px;
  }
}
@media (min-width: 992px) {
  .row + .row {
    margin-top: 30px;
  }
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

[class*="col-"] {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
}

@media (min-width: 320px) {
  .col-xs-11 {
    width: 91.6666666667%;
  }
}

@media (min-width: 320px) {
  .col-xs-10 {
    width: 83.3333333333%;
  }
}

@media (min-width: 320px) {
  .col-xs-9 {
    width: 75%;
  }
}

@media (min-width: 320px) {
  .col-xs-8 {
    width: 66.6666666667%;
  }
}

@media (min-width: 320px) {
  .col-xs-7 {
    width: 58.3333333333%;
  }
}

@media (min-width: 320px) {
  .col-xs-6 {
    width: 50%;
  }
}

@media (min-width: 320px) {
  .col-xs-5 {
    width: 41.6666666667%;
  }
}

@media (min-width: 320px) {
  .col-xs-4 {
    width: 33.3333333333%;
  }
}

@media (min-width: 320px) {
  .col-xs-3 {
    width: 25%;
  }
}

@media (min-width: 320px) {
  .col-xs-2 {
    width: 16.6666666667%;
  }
}

@media (min-width: 320px) {
  .col-xs-1 {
    width: 8.3333333333%;
  }
}

@media (min-width: 540px) {
  .col-sm-11 {
    width: 91.6666666667%;
  }
}

@media (min-width: 540px) {
  .col-sm-10 {
    width: 83.3333333333%;
  }
}

@media (min-width: 540px) {
  .col-sm-9 {
    width: 75%;
  }
}

@media (min-width: 540px) {
  .col-sm-8 {
    width: 66.6666666667%;
  }
}

@media (min-width: 540px) {
  .col-sm-7 {
    width: 58.3333333333%;
  }
}

@media (min-width: 540px) {
  .col-sm-6 {
    width: 50%;
  }
}

@media (min-width: 540px) {
  .col-sm-5 {
    width: 41.6666666667%;
  }
}

@media (min-width: 540px) {
  .col-sm-4 {
    width: 33.3333333333%;
  }
}

@media (min-width: 540px) {
  .col-sm-3 {
    width: 25%;
  }
}

@media (min-width: 540px) {
  .col-sm-2 {
    width: 16.6666666667%;
  }
}

@media (min-width: 540px) {
  .col-sm-1 {
    width: 8.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-md-11 {
    width: 91.6666666667%;
  }
}

@media (min-width: 768px) {
  .col-md-10 {
    width: 83.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-md-9 {
    width: 75%;
  }
}

@media (min-width: 768px) {
  .col-md-8 {
    width: 66.6666666667%;
  }
}

@media (min-width: 768px) {
  .col-md-7 {
    width: 58.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-md-6 {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .col-md-5 {
    width: 41.6666666667%;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
    width: 33.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-md-3 {
    width: 25%;
  }
}

@media (min-width: 768px) {
  .col-md-2 {
    width: 16.6666666667%;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    width: 8.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-11 {
    width: 91.6666666667%;
  }
}

@media (min-width: 992px) {
  .col-lg-10 {
    width: 83.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-9 {
    width: 75%;
  }
}

@media (min-width: 992px) {
  .col-lg-8 {
    width: 66.6666666667%;
  }
}

@media (min-width: 992px) {
  .col-lg-7 {
    width: 58.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-6 {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .col-lg-5 {
    width: 41.6666666667%;
  }
}

@media (min-width: 992px) {
  .col-lg-4 {
    width: 33.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-3 {
    width: 25%;
  }
}

@media (min-width: 992px) {
  .col-lg-2 {
    width: 16.6666666667%;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.3333333333%;
  }
}

@media (min-width: 1200px) {
  .col-xlg-11 {
    width: 91.6666666667%;
  }
}

@media (min-width: 1200px) {
  .col-xlg-10 {
    width: 83.3333333333%;
  }
}

@media (min-width: 1200px) {
  .col-xlg-9 {
    width: 75%;
  }
}

@media (min-width: 1200px) {
  .col-xlg-8 {
    width: 66.6666666667%;
  }
}

@media (min-width: 1200px) {
  .col-xlg-7 {
    width: 58.3333333333%;
  }
}

@media (min-width: 1200px) {
  .col-xlg-6 {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .col-xlg-5 {
    width: 41.6666666667%;
  }
}

@media (min-width: 1200px) {
  .col-xlg-4 {
    width: 33.3333333333%;
  }
}

@media (min-width: 1200px) {
  .col-xlg-3 {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .col-xlg-2 {
    width: 16.6666666667%;
  }
}

@media (min-width: 1200px) {
  .col-xlg-1 {
    width: 8.3333333333%;
  }
}

@media (min-width: 320px) {
  .col-offset-xs-1 {
    margin-left: 8.3333333333%;
  }
}

@media (min-width: 540px) {
  .col-offset-sm-1 {
    margin-left: 8.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-offset-md-1 {
    margin-left: 8.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-offset-lg-1 {
    margin-left: 8.3333333333%;
  }
}

@media (min-width: 1200px) {
  .col-offset-xlg-1 {
    margin-left: 8.3333333333%;
  }
}

@media (min-width: 320px) {
  .col-offset-xs-2 {
    margin-left: 16.6666666667%;
  }
}

@media (min-width: 540px) {
  .col-offset-sm-2 {
    margin-left: 16.6666666667%;
  }
}

@media (min-width: 768px) {
  .col-offset-md-2 {
    margin-left: 16.6666666667%;
  }
}

@media (min-width: 992px) {
  .col-offset-lg-2 {
    margin-left: 16.6666666667%;
  }
}

@media (min-width: 1200px) {
  .col-offset-xlg-2 {
    margin-left: 16.6666666667%;
  }
}

@media (min-width: 320px) {
  .col-offset-xs-3 {
    margin-left: 25%;
  }
}

@media (min-width: 540px) {
  .col-offset-sm-3 {
    margin-left: 25%;
  }
}

@media (min-width: 768px) {
  .col-offset-md-3 {
    margin-left: 25%;
  }
}

@media (min-width: 992px) {
  .col-offset-lg-3 {
    margin-left: 25%;
  }
}

@media (min-width: 1200px) {
  .col-offset-xlg-3 {
    margin-left: 25%;
  }
}

@media (min-width: 320px) {
  .col-offset-xs-4 {
    margin-left: 33.3333333333%;
  }
}

@media (min-width: 540px) {
  .col-offset-sm-4 {
    margin-left: 33.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-offset-md-4 {
    margin-left: 33.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-offset-lg-4 {
    margin-left: 33.3333333333%;
  }
}

@media (min-width: 1200px) {
  .col-offset-xlg-4 {
    margin-left: 33.3333333333%;
  }
}

@media (min-width: 320px) {
  .col-offset-xs-5 {
    margin-left: 41.6666666667%;
  }
}

@media (min-width: 540px) {
  .col-offset-sm-5 {
    margin-left: 41.6666666667%;
  }
}

@media (min-width: 768px) {
  .col-offset-md-5 {
    margin-left: 41.6666666667%;
  }
}

@media (min-width: 992px) {
  .col-offset-lg-5 {
    margin-left: 41.6666666667%;
  }
}

@media (min-width: 1200px) {
  .col-offset-xlg-5 {
    margin-left: 41.6666666667%;
  }
}

@media (min-width: 320px) {
  .col-offset-xs-6 {
    margin-left: 50%;
  }
}

@media (min-width: 540px) {
  .col-offset-sm-6 {
    margin-left: 50%;
  }
}

@media (min-width: 768px) {
  .col-offset-md-6 {
    margin-left: 50%;
  }
}

@media (min-width: 992px) {
  .col-offset-lg-6 {
    margin-left: 50%;
  }
}

@media (min-width: 1200px) {
  .col-offset-xlg-6 {
    margin-left: 50%;
  }
}

@media (min-width: 320px) {
  .col-offset-xs-7 {
    margin-left: 58.3333333333%;
  }
}

@media (min-width: 540px) {
  .col-offset-sm-7 {
    margin-left: 58.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-offset-md-7 {
    margin-left: 58.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-offset-lg-7 {
    margin-left: 58.3333333333%;
  }
}

@media (min-width: 1200px) {
  .col-offset-xlg-7 {
    margin-left: 58.3333333333%;
  }
}

@media (min-width: 320px) {
  .col-offset-xs-8 {
    margin-left: 66.6666666667%;
  }
}

@media (min-width: 540px) {
  .col-offset-sm-8 {
    margin-left: 66.6666666667%;
  }
}

@media (min-width: 768px) {
  .col-offset-md-8 {
    margin-left: 66.6666666667%;
  }
}

@media (min-width: 992px) {
  .col-offset-lg-8 {
    margin-left: 66.6666666667%;
  }
}

@media (min-width: 1200px) {
  .col-offset-xlg-8 {
    margin-left: 66.6666666667%;
  }
}

@media (min-width: 320px) {
  .col-offset-xs-9 {
    margin-left: 75%;
  }
}

@media (min-width: 540px) {
  .col-offset-sm-9 {
    margin-left: 75%;
  }
}

@media (min-width: 768px) {
  .col-offset-md-9 {
    margin-left: 75%;
  }
}

@media (min-width: 992px) {
  .col-offset-lg-9 {
    margin-left: 75%;
  }
}

@media (min-width: 1200px) {
  .col-offset-xlg-9 {
    margin-left: 75%;
  }
}

@media (min-width: 320px) {
  .col-offset-xs-10 {
    margin-left: 83.3333333333%;
  }
}

@media (min-width: 540px) {
  .col-offset-sm-10 {
    margin-left: 83.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-offset-md-10 {
    margin-left: 83.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-offset-lg-10 {
    margin-left: 83.3333333333%;
  }
}

@media (min-width: 1200px) {
  .col-offset-xlg-10 {
    margin-left: 83.3333333333%;
  }
}

@media (min-width: 320px) {
  .col-offset-xs-11 {
    margin-left: 91.6666666667%;
  }
}

@media (min-width: 540px) {
  .col-offset-sm-11 {
    margin-left: 91.6666666667%;
  }
}

@media (min-width: 768px) {
  .col-offset-md-11 {
    margin-left: 91.6666666667%;
  }
}

@media (min-width: 992px) {
  .col-offset-lg-11 {
    margin-left: 91.6666666667%;
  }
}

@media (min-width: 1200px) {
  .col-offset-xlg-11 {
    margin-left: 91.6666666667%;
  }
}

.wrapper--relative {
  position: relative;
}

.wr-btn {
  text-align: center;
}

.info {
  margin-bottom: 10px;
}
@media (min-width: 540px) {
  .info {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .info {
    margin-bottom: 30px;
  }
}
.info__lead {
  font-size: 0.75rem;
  line-height: 1.5882352;
}
@media (min-width: 768px) {
  .info__lead {
    font-size: 1.0625rem;
  }
}
.info__lead:not(:last-child) {
  margin-bottom: 1rem;
}
.info__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 16px;
  line-height: 1.3;
}
@media (min-width: 768px) {
  .info__title {
    font-size: 4rem;
  }
}
@media (min-width: 992px) {
  .info__title {
    font-size: 5.625rem;
  }
}
.info--center {
  text-align: center;
}

* {
  outline: 1px solid red;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  padding-top: 47px;
  background: url(../image/bg-header.jpg) center center no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}
.header__info {
  margin-top: 255px;
}
.header__title {
  font-size: 2.75rem;
}
@media (min-width: 540px) {
  .header__title {
    font-size: 3.75rem;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-logo {
  padding-right: 15px;
}

.logo {
  display: block;
  max-width: 100%;
  height: auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  margin-right: -19px;
  padding-left: 0;
}
.menu__link {
  position: relative;
  display: block;
  padding: 7px 19px;
  font-weight: bold;
  line-height: 1.5625‬;
  text-transform: uppercase;
}
.menu__link:before {
  display: block;
  content: "";
  position: absolute;
  left: 19px;
  top: 0;
  height: 3px;
  width: 0;
  background-color: transparent;
  -webkit-transition: 0.5s ease-in-out width, 0.5s ease-in-out background-color, 0.5s ease-in-out color;
  transition: 0.5s ease-in-out width, 0.5s ease-in-out background-color, 0.5s ease-in-out color;
}
.menu__link:hover:before {
  width: calc(100% - 38px);
  background-color: #ff6033;
}
.menu__link:focus {
  color: #8C0505;
}
.menu__link:active {
  color: #ff6033;
}

.section-about {
  background-color: #00aeae;
  color: #ffffff;
  padding-top: 70px;
  padding-bottom: 70px;
}
@media (min-width: 992px) {
  .section-about__info {
    padding-left: 50px;
    padding-top: 60px;
  }
}
@media (min-width: 1200px) {
  .section-about__info {
    padding-left: 70px;
    padding-top: 95px;
  }
}
.section-about__img {
  margin-left: 0;
  -webkit-filter: drop-shadow(-17px 9px 20px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(-17px 9px 20px rgba(0, 0, 0, 0.3));
}
@media (min-width: 768px) {
  .section-about__img {
    margin-left: 12px;
  }
}

.section-services {
  background-color: #70bfff;
  color: #ffffff;
  padding-top: 105px;
  padding-bottom: 150px;
}
.section-services__controls {
  padding-top: 0;
}
@media (min-width: 992px) {
  .section-services__controls {
    padding-top: 55px;
  }
}
@media (min-width: 1200px) {
  .section-services__controls {
    padding-top: 75px;
  }
}
.section-services__img {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-services__title {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  margin-bottom: 0;
}

.section-gallery {
  background-color: #ffe92f;
  padding-top: 100px;
  padding-bottom: 120px;
}
.section-gallery__info {
  margin-bottom: 45px;
}
.section-gallery__photos {
  font-size: 0;
  margin-bottom: 15px;
}
@media (min-width: 540px) {
  .section-gallery__photos {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .section-gallery__photos {
    margin-bottom: 25px;
  }
}
@media (min-width: 992px) {
  .section-gallery__photos {
    margin-bottom: 35px;
  }
}
@media (min-width: 1200px) {
  .section-gallery__photos {
    margin-bottom: 42px;
  }
}
.section-gallery__img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.section-subscribe {
  background: url(../image/bg-subscribe.jpg) center center no-repeat;
  background-size: cover;
  min-height: 500px;
  padding-top: 140px;
  padding-bottom: 163px;
}
.section-subscribe__title {
  font-size: 2rem;
}
@media (min-width: 540px) {
  .section-subscribe__title {
    font-size: 2.5rem;
  }
}

.form-subscribe__field {
  width: 100%;
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 1.8;
  padding: 12px 12px;
  border: #262626 solid 1px;
  outline-color: transparent;
}
.form-subscribe__field:focus {
  outline: #ccf15b solid 3px;
}
.form-subscribe__field:hover {
  outline: #96b92c solid 3px;
}
.form-subscribe__field:active {
  outline: #7d9c1f solid 3px;
}

.section-blog {
  background-color: #b07cf7;
  padding-top: 100px;
  padding-bottom: 120px;
  color: #ffffff;
}

.date {
  background-color: rgba(38, 38, 38, 0.502);
  border-radius: 5px;
  width: 60px;
  text-align: center;
  line-height: 1;
  padding: 3px 9px;
}

.article-preview {
  display: inline-block;
  color: #ffffff;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 42px;
  font-size: 0;
  position: relative;
}
.article-preview__img {
  display: block;
  max-width: 100%;
  height: auto;
}
.article-preview__date {
  position: absolute;
  left: 30px;
  top: 30px;
}
.article-preview__day {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
}
.article-preview__month {
  font-size: 1.3125rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
}
.article-preview__info {
  display: block;
  position: absolute;
  bottom: 0;
  max-height: 150px;
  padding: 45px 25px 30px 20px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0));
}
.article-preview__title {
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}
.article-preview__author {
  display: block;
  font-size: 0.8125rem;
  font-weight: 300;
}
.article-preview:focus {
  opacity: 0.6;
}
.article-preview:hover {
  opacity: 0.85;
}
.article-preview:active {
  -webkit-box-shadow: 0px 0px 10px 10px #412a61;
          box-shadow: 0px 0px 10px 10px #412a61;
}

.section-contact {
  background: url(../image/bg-contact.jpg) center center no-repeat;
  background-size: cover;
  min-height: 865px;
  padding-top: 85px;
  padding-bottom: 115px;
}

.form-contact {
  width: 500px;
  font-size: 0;
}
.form-contact__field {
  width: 100%;
  background-color: #00c4c4;
  font-size: 0.9375rem;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.5625;
  padding: 14px 20px;
  border: none;
  border-left: 3px solid transparent;
  outline: none;
}
.form-contact__field:not(:last-child) {
  margin-bottom: 15px;
}
.form-contact__field:focus {
  border-left: 3px solid #355b82;
}
.form-contact__field:hover {
  background-color: #1de2e2;
}
.form-contact__field:active {
  background-color: #05a2a2;
}
.form-contact__field::-webkit-input-placeholder {
  color: #ffffff;
  font-weight: 300;
}
.form-contact__field:-ms-input-placeholder {
  color: #ffffff;
  font-weight: 300;
}
.form-contact__field::-ms-input-placeholder {
  color: #ffffff;
  font-weight: 300;
}
.form-contact__field::placeholder {
  color: #ffffff;
  font-weight: 300;
}
.form-contact__field--large {
  height: 200px;
  resize: none;
}

.contact {
  padding-left: 70px;
}
.contact__block:not(:last-child) {
  margin-bottom: 15px;
}
.contact__title {
  font-size: 1.0625rem;
  font-weight: 700;
  line-height: 1,470588;
}
.contact__lead {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.25;
}

.link-contact:hover {
  color: #161cdc;
}
.link-contact:active {
  color: #06b3b3;
}
.link-contact:focus {
  color: #3906b3;
}

.bottom-footer {
  background-color: #262626;
  padding-top: 30px;
  padding-bottom: 30px;
}

.copyright {
  font-size: 1rem;
  color: #ffffff;
  font-weight: 300;
  line-height: 1.5625;
}

.site-author {
  font-size: 0.9375rem;
  color: #ffffff;
  font-weight: 300;
  line-height: 1.666666;
  text-align: right;
}

.text-accent {
  color: #f12b55;
  font-weight: 700;
}

.logo--small {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 64px;
  height: 26px;
}

/*# sourceMappingURL=main.css.map */