%controls-transition {
	-webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,opacity .15s ease-in-out,-webkit-box-shadow .15s ease-in-out, visibility .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,opacity .15s ease-in-out, visibility .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,opacity .15s ease-in-out, visibility .15s ease-in-out;
    cursor: pointer;
}

a,
button,
 {
	@extend %controls-transition;
}

input {
	&[type=button],
	&[type=submit] {
		 @extend %controls-transition;
	}
}

a {
	text-decoration: none;
  color: $font-color-primary;
}

.btn {
	display: inline-block;
  min-width: 170px;
  padding: 0.9em 1.35em;
  font-size: 1.25rem;
  font-weight: 300; 
  line-height: 1;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  background-color: #fff;
  border: none;
  border-radius: 0;
  outline: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);

  &--primary {
    text-transform: uppercase;
    background-color: #ff6033;
    color: #ffffff;

    @media (min-width: $screen-xs-min) {
      min-width: 120px;
      font-size: 12px;
    }

    @media (min-width: $screen-sm-min) {
      min-width: 140px;
      font-size: 14px;
    }

    @media (min-width: $screen-md-min) {
      min-width: 150px;
      font-size: 16px;
    }

    @media (min-width: $screen-lg-min) {
      min-width: 170px;
      font-size: 20px;
    }

    &:focus {
      outline: #f50000 solid 3px;
    }

    &:hover {
      color: #ff6033;
      background-color: #ffffff;
      outline: #ff6033 solid 3px;
    }

    &:active {
      background-color: #f13500;
      color: #ffffff;
    }

  }

  &--secondary {
    text-transform: uppercase;
    background-color: #5585a2;
    color: #ffffff;

    &:focus {
      outline: #7bcdff solid 3px;
    }

    &:hover {
      color: #5585a2;
      background-color: #ffffff;
      outline: #5585a2 solid 2px;
    }

    &:active {
      background-color: #306788;
      color: #ffffff;
    }

    @media (min-width: $screen-xs-min) {
      min-width: 120px;
      font-size: 12px;
    }

    @media (min-width: $screen-sm-min) {
      min-width: 140px;
      font-size: 14px;
    }

    @media (min-width: $screen-md-min) {
      min-width: 150px;
      font-size: 16px;
    }

    @media (min-width: $screen-lg-min) {
      min-width: 170px;
      font-size: 20px;
    }
  }

  &--third {
    text-transform: uppercase;
    background-color: #96b92c;
    color: #ffffff;

    &:focus {
      outline: #ccf15b solid 3px;
    }

    &:hover {
      background-color: #ffffff;
      color: #96b92c;
      outline: #96b92c solid 3px;
    }

    &:active {
      background-color: #7d9c1f;
      color: #ffffff;
    }
  }

  &--fourth {
    text-transform: uppercase;
    background-color: #f72b3f;
    color: #ffffff;

    &:focus {
      outline: #ff8c8c solid 3px;
    }

    &:hover {
      background-color: #ffffff;
      color: #f72b3f;
      outline: #f72b3f solid 3px;
    }

    &:active {
      background-color: #d4081c;
      color: #ffffff;
    }
  }
}

.btn-services {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
  min-height: 100px;
  width: 350px;
  font-weight: 700;
  line-height: 1.35;
  white-space: normal;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);

  &:not(:last-child) {
    
    @media (min-width: $screen-sm-min) {
      margin-bottom: 10px;
    }

    @media (min-width: $screen-md-min) {
      margin-bottom: 20px;
    }
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 100%;
    border-left: 1px solid #9d9d9d;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;

    @media (min-width: $screen-sm-min) {
      width: 55px;
    }

    @media (min-width: $screen-md-min) {
      width: 101px;
    }
  }

  @media (min-width: $screen-sm-min) {
    width: 100%;
    min-height: 58px;
    font-size: 14px;
    padding: 10px 76px 10px 20px;
  }

  @media (min-width: $screen-md-min) {
    min-height: 80px;
    font-size: 16px;
    padding: 25px 126px 25px 25px;
  }

  @media (min-width: $screen-md-min) {
    width: 330px;
    min-height: 80px;
    font-size: 16px;
  }

  @media (min-width: $screen-lg-min) {
    width: 350px;
    font-size: 20px;
  }

  @media (min-width: $screen-xlg-min) {
    width: 400px;
  }

  &--shopping:after {
    background-image: url(../image/icon-shopping.svg);
  }

  &--product:after {
    background-image: url(../image/icon-product.svg);
  }

  &--delivery:after {
    background-image: url(../image/icon-delivery.svg);
  }

  &--organized:after {
    background-image: url(../image/icon-organize.svg);
  }

  &:focus {
    outline: #545dd6 solid 3px;
  }

  &:hover {
    background-color: #c7dffb;
    outline: #5c8ab3 solid 3px;
  }

  &:active {
    background-color: #689fde;
  }
}

.scroll {
  display: block;
  height: 40px;
  width: 24px;
  position: absolute;
  bottom: 69px;
  left: 50%;
  margin-left: -12px;

  &:hover {
    opacity: 0.7;
  }
}