.wrapper--relative {
  position: relative;
}

.info {
  margin-bottom: 30px;

  &__lead {
    font-size: 1.0625rem;
    line-height: 1.5882352;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__title {
    font-size: 5.625rem;
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 1.3;
  }

  &--center {
    text-align: center;
  }
}