$breakpointsMap: (
  xs: $screen-xs-min,
  sm: $screen-sm-min,
  md: $screen-md-min,
  lg: $screen-lg-min,
  xlg: $screen-xlg-min
);

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $screen-sm-min) {
    width: 540px;
  } 
  
  @media (min-width: $screen-md-min) {
    width: 750px;
  }

  @media (min-width: $screen-lg-min) {
    width: 970px;
  }

  @media (min-width: $screen-xlg-min) {
    width: 1170px;
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px; 
}

.row + .row {
  margin-top: 30px;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

[class*="col-"] {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
}

@each $size, $breakpoint in $breakpointsMap {
  @for $i from 12 through 0 {
    .col-#{$size}-#{$i} {
      @media (min-width: $breakpoint) {
        width: (100% / 12) * $i;
      }
    }
  }
}


@for $i from 1 through 11 {
  @each $size, $breakpoint in $breakpointsMap {
    .col-offset-#{$size}-#{$i} {
      @media (min-width: $breakpoint) {
        margin-left: (100% / 12) * $i;
      }
    }
  }
}