.section-contact {
  background: url(../image/bg-contact.jpg) center center no-repeat;
  background-size: cover;
  min-height: 865px;
  padding-top: 90px;
  padding-bottom: 0;

  @media (min-width: $screen-sm-min) {
    padding-top: 85px;
    padding-bottom: 115px;
  }
}

.form-contact {
  width: 500px;
  font-size: 0;

  @media (min-width: $screen-xs-min) {
    width: 280px;
  }

  @media (min-width: $screen-sm-min) {
    width: 490px;
  }

  @media (min-width: $screen-md-min) {
    width: 400px;
  }

  @media (min-width: $screen-lg-min) {
    width: 450px;
  }

  @media (min-width: $screen-xlg-min) {
    width: 500px;
  }

  &__field {
    width: 100%;
    background-color: #00c4c4;
    font-size: 0.9375rem;
    color: #ffffff;
    font-weight: 700;
    line-height: 1.5625;
    padding: 14px 20px;
    border: none;
    border-left: 3px solid transparent; 
    outline: none;
  }

  &__field:not(:last-child) {
    margin-bottom: 5px;

    @media (min-width: $screen-sm-min) {
      margin-bottom: 10px;
    }

    @media (min-width: $screen-md-min) {
      margin-bottom: 15px;
    }
  }

  &__field:focus {
    border-left: 3px solid #355b82;
  }

  &__field:hover {
    background-color: #1de2e2;
  }

  &__field:active {
    background-color: #05a2a2;
  }

  &__field::placeholder {
    color: #ffffff;
    font-weight: 300;
  }

  &__field--large {
    height: 200px;
    resize: none;
  }
}

.contact {
  padding-left: 0;

  @media (min-width: $screen-lg-min) {
    padding-left: 50px;
  }

  @media (min-width: $screen-xlg-min) {
    padding-left: 70px;
  }

  &__block:not(:last-child) {
    margin-bottom: 15px;
  }

  &__title {
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1,470588;

    @media (min-width: $screen-lg-min) {
      font-size: 1.0625rem;;
    }
  }

  &__lead {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.25;

    @media (min-width: $screen-lg-min) {
      font-size: 1.25rem;
    }
  }
}

.link-contact {

  &:hover {
    color: #161cdc;
  }

  &:active {
    color: #06b3b3;
  }

  &:focus {
    color: #3906b3;
  }
}